
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Index.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <section>

            @using (Html.BeginForm("Post", "Home"))
            {
                <label id="para1">Nome</label>
                <input type="text" name="text_nome" value="" required="" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Preencha com o nome do quadrinho.')"/><br />

                <label>Volume</label>
                <input type="text" name="text_volume" value="" />

                <label>Editora</label>
                <input type="text" name="text_editora" value="" required="" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Preencha com a editora do quadrinho.')"/>

                <input type="submit" value="Pesquisar" />
            }

        </section>
    </div>
</body>
</html>
