
@{
    ViewBag.Title = "Resultados";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/resultados.css" rel="stylesheet" />
    <title>mostrarResultados</title>
</head>
<body>
    <div>

        <h2>Foram encontrados @ViewBag.Resultados.Count resultados</h2>

        <button onclick=window.history.back()>Nova Pesquisa</button>

        <ul>
            @foreach (Resultado res in ViewBag.Resultados)
        {

            <li>
                @res.preco
                <a href=@res.link>Compre aqui</a>
            </li>
    }
        </ul>

    </div>
</body>
</html>
